#sample_data{
    border: 1px solid #999;
}
.sample_in{
    float:left;
    border: 1px solid #ccc;
    margin:0.5em;
    padding:0.2em;
}
.sample_out{
    float:left;
    border: 1px solid #ccc;
    margin:0.5em;
    padding:0.2em;
}