p {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

var {
	font-style: italic;
}

#sample_data {
	border: 1px solid #999;
}

#sample_data::after {
	display: block;
	content: "";
	clear: both;
}

.sample_in {
	float: left;
	border: 1px solid #ccc;
	margin: 0.5em;
	padding: 0.2em;
}

.sample_out {
	float: left;
	border: 1px solid #ccc;
	margin: 0.5em;
	padding: 0.2em;
}


@media screen {
	* {
		margin: 0pt;
		padding: 0pt;
	}
	
	html {
		margin: 0 auto;
		padding: 1em;
		width: calc(800px - 2em);
		overflow-y: scroll;
	}
	
	body {
		background: #FFFFFF none repeat scroll 0%;
		color: #222;
		box-shadow: 0 0 0.7em #D0D0D0;
		padding: 1em;
		font-family: "Lucida Grande","Verdana",sans-serif;
	}
	
	header > h1 {
		font-size: 2.2em;
		font-family: "Helvetica","Arial",sans-serif;
		font-weight: inherit;
	}
	
	header > div {
		padding-bottom: 0.75em;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		column-gap: 1.5em;
	}
	
	header > div > h2 {
		margin-top: 0.5em;
		flex-grow: 1;
		font-family: "Helvetica","Arial",sans-serif;
		font-size: 1.5em;
		font-weight: bold;
	}
	
	header > div > div {
		flex-shrink: 0;
	}
	
	header > div > div > div:nth-child(2) {
		font-weight: bold;
	}
	
	ul {
		list-style: none;
		margin-left: 2em;
	}
	
	blockquote {
		margin-left: 2em;
		color: #666;
	}
}
