/*---- Reset ----*/

* {
	margin: 0;
	padding: 0;
}


/*---- Header ----*/

header {
	margin-bottom: 1.5em;
	padding-bottom: 1.0em;
}

header > h1 {
	margin-bottom: 0.7rem;
	font-family: "Helvetica","Arial",sans-serif;
	font-size: 130%;
	font-weight: bold;
	text-align: center;
}

header > div {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	column-gap: 1.5em;
}

header > div > h2 {
	flex-grow: 1;
	font-family: "Helvetica","Arial",sans-serif;
	font-size: 170%;
	font-weight: bold;
}

header > div > div {
	flex-shrink: 0;
	text-align: right;
}

header > div > div > div:nth-child(2) {
	font-weight: bold;
}


/*---- Article content ----*/

article p {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

article ul, article ol {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
	margin-left: 2.0em;
}

article ul {
	list-style-type: disc;
}

article li {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

article var {
	font-style: italic;
}

article blockquote {
	margin-left: 2em;
}

article section.sample {
	display: flex;
	flex-direction: column;
	row-gap: 1.0em;
}

article section.sample > div {
	padding: 0.2em;
	border: 1px solid #CCCCCC;
}


/*---- Screen ----*/

@media screen {
	html {
		background-color: #FFFFFF;
		overflow-y: scroll;
		font-family: "Lucida Grande","Verdana",sans-serif;
		color: #222222;
	}
	
	body {
		padding-top: 1.0em;
		padding-bottom: 1.5em;
	}
	
	@media not (min-width:52em) {
		body {
			padding-left: 1.0em;
			padding-right: 1.0em;
		}
	}
	
	@media (min-width:52em) {
		html {
			padding: 0.8em 1.0em 2.0em;
		}
		body {
			max-width: 46em;
			margin: 0 auto;
			padding-left: 2.0em;
			padding-right: 2.0em;
			box-shadow: 0 0 0.7em #D0D0D0;
		}
	}
	
	header {
		border-bottom: 0.15em solid #D2DDFF;
	}
	
	header > h1 {
		color: #F96233;
	}
	
	article blockquote {
		color: #666666;
	}
	
	@media (min-width:52em) {
		article section.sample:not(.wide) {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 1.0em;
		}
	}
}


/*---- Print ----*/

@media print {
	header {
		border-bottom: 0.15em solid #000000;
	}
	
	article section.sample:not(.wide) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1.0em;
	}
}
